@import "../../shared//styles/variables";
@import "../../shared/styles/mixins";

.contactUs {
   background-color: $secondary-bg-color;
   color: $primary-text-color;
}

.box {
   @include media('desktopSmall') {
      display: flex;
   }

}

.contactBox {
   @include media('desktopSmall') {
      width: 50%;
      padding-right: 160px;
   }

}

.descriptionBox {
   @include media('desktopSmall') {
      font-size: 60px;

   }
}

.title {
   font-size: 21px;
   font-weight: 600;
   line-height: 25px;
   text-transform: uppercase;
   margin-bottom: 12px;

   @include media('tablet') {
      font-size: 26px;
      margin-bottom: 15px;
   }

   @include media('desktopMiddle') {
      font-size: 40px;
      margin-bottom: 50px;
   }

   @include media('desktop') {
      font-size: 60px;
   }
}

.text {
   font-weight: 400;
   line-height: 1.21;
   opacity: 0.7;
   margin-bottom: 24px;
   font-size: 14px;
   color: #FFFFFF;

   @include media('tablet') {
      font-size: 16px;
   }

   @include media('desktopSmall') {
      font-size: 24px;
      margin-bottom: 65px;
   }
}

.list {
   @include flex();
   flex-direction: column;
   gap: 16px;

   margin-bottom: 24px;

}

.item {
   @include flex(_, center);
   gap: 12px;

   a {

      font-size: 16px;
      line-height: 1.18;
      text-decoration: underline;
      color: $primary-text-color;

      @include media('desktopSmall') {
         font-size: 18px;
         line-height: 1.2;
      }
   }

   .svg {

      @include media('desktopSmall') {
         width: 40px;
         height: 40px;
      }

   }
}