@import "../../../shared/styles/variables";
@import "../../../shared/styles/mixins";

.nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	margin: 0px auto;
	background-color: $secondary-bg-color;

	@include media($tablet) {
		position: unset;
	}
}
.open {
	transform: translateY(0);
	transition: all 750ms ease-in;
	transition-delay: 450ms;
}

.close {
	transform: translateY(-100vh);
	transition: all 350ms ease-in;
}
.overlayOpen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.101);
	transform: translateY(0);
	transition: all 750ms ease-in;
}
.overlayClosed {
	transform: translateY(-100vh);
	transition: all 550ms ease-out;
	transition-delay: 450ms;
}
.closeBurger {
	position: absolute;
	top: 24px;
	right: 24px;
	z-index: 20;
}

.navList {
	@include flex(center, center);
	padding-top: 20px;
	flex-direction: column;
	gap: 40px;
}

.navItem {
	width: 80%;
	padding: 15px 0px;
	text-align: center;
	border-bottom: 0.5px solid rgba(245, 233, 214, 0.5);
}

.navLink {
	color: $primary-text-color;
	font-size: 18px;
	font-weight: 600;
}
