@import "../../../shared/styles/variables";
@import "../../../shared/styles/mixins";

.nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	margin: 0px auto;
	background-color: $secondary-bg-color;
	overflow-y: scroll;

	@include media($tablet) {
		position: unset;
	}
}
nav::-webkit-scrollbar {
	width: 0px;
}
.open {
	transform: translateX(0);
	transition: all 450ms ease-in;
}

.close {
	transform: translateX(-100vw);
	transition: all 450ms ease-in;
}

.closeBurger {
	position: absolute;
	top: 24px;
	right: 24px;
	z-index: 20;
}

.navList {
	@include flex(center, center);
	padding-top: 20px;
	flex-direction: column;
	gap: 40px;
}

.navItem {
	width: 80%;
	padding: 15px 0px;
	text-align: center;
	border-bottom: 0.5px solid $burger-nav-underline;

	&:last-of-type {
		border-bottom: none;
		a:last-of-type {
			padding: 16px 32px;
			cursor: pointer;
			width: 100%;
			border-radius: 12px;
			text-align: center;
			font-weight: 800;
			font-size: 16px;
			line-height: 140%;

			color: $secondary-text-color;
			background-color: $fourth-bg-color;
		}
	}
}

.navLink {
	display: block;
	margin: 0px auto;
	position: relative;
	color: $primary-text-color;
	width: fit-content;
	font-size: 18px;
	font-weight: 600;
}
