@import "../../shared//styles/variables";
@import "../../shared/styles/mixins";

.hero {
	position: relative;
	color: $primary-text-color;

	background: url("../../assets/hero-bg-mob.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 262px;
	background-color: $secondary-bg-color;

	@include media(desktopSmall) {
		background: no-repeat 100% 100% url("../../assets/hero-bg-desc.png"),
			no-repeat 95% 0% url("../../assets/hero-circle.png");
		background-color: $secondary-bg-color;
		background-size: 334px, 200px;
	}

	@include media(desktop) {
		background: no-repeat 100% 100% url("../../assets/hero-bg-desc.png"),
			no-repeat 95% 0% url("../../assets/hero-circle.png");
		background-color: $secondary-bg-color;
		background-size: 534px, 300px;
	}

	&__wrap {
		@include media(tablet) {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
		@include landscape() {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
	}

	&__title {
		z-index: 100;
		font-weight: 400;
		font-size: 50px;
		line-height: 1.2;
		text-transform: uppercase;
		text-align: start;
		margin-bottom: 40px;
		cursor: default;

		@include media(tablet) {
			font-size: 64px;
		}
		@include media(desktopSmall) {
			margin-top: 50px;
			margin-bottom: 0;
			font-size: 100px;
		}
		@include media(desktop) {
			font-size: 130px;
		}
	}

	&__br {
		display: none;
		@include media(tablet) {
		}
		display: block;
	}

	&__title_bold {
		font-weight: 800;
	}

	&__btn {
		z-index: 10;
		display: inline-block;
		outline: none;
		border: none;
		padding: 16px 32px;
		cursor: pointer;

		border-radius: 12px;
		text-align: center;
		font-weight: 800;
		font-size: 16px;
		line-height: 140%;

		color: $secondary-text-color;
		background-color: $fourth-bg-color;
		transition: $transition;

		&:hover {
			box-shadow: $hero-button-shadow;
		}

		@include media(desktopMiddle) {
			padding: 32px 64px;
			border-radius: 16px;
			font-size: 32px;
			margin-right: 100px;
		}
	}

	//   LOOP

	&__loop_wrap {
		z-index: 5;
		position: absolute;
		bottom: 10%;
		transform: rotate(4deg);

		// @include media(desktopSmall) {
		//   bottom: 10%;
		// }
	}

	&__loop {
		z-index: 5;
		background-color: $primary-bg-color;
		border: none;
		display: flex;
		padding: 5px;
		@include media(desktopMiddle) {
			padding: 24px;
		}
	}

	&__loop_word {
		z-index: 5;
		position: relative;
		color: $secondary-text-color;
		text-transform: uppercase;
		font-weight: 800;
		font-size: 24px;
		line-height: 0.8;

		margin-right: 60px;
		cursor: default;

		&::after {
			content: "";
			display: inline-block;
			position: absolute;
			top: 0;
			right: -36px;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: $secondary-text-color;
			opacity: 0.2;

			@include media(desktopSmall) {
				top: 8px;
				right: -45px;
			}
		}

		@include media(desktopSmall) {
			font-size: 40px;
			line-height: 0.8;
			margin-right: 76px;
		}
	}
}
