@import "../../shared//styles/variables";
@import "../../shared/styles/mixins";

.active {
	border-bottom: 1px solid white;
}
.header {
	position: fixed;
	background-color: transparent;
	z-index: 10;
	left: 0;
	width: 100vw;
	padding: 16px 0px 0px;

	transition: all 500ms ease-in-out;

	@include landscape {
		padding: 8px 0px 0px;
	}
	@include media(desktopSmall) {
		padding: 32px 0px 0px;
	}

	@include media(desktopMiddle) {
		padding: 18px 0px 0px;
	}

	@include media(desktop) {
		padding: 48px 0px 0px;
	}
}

.wrapper {
	@include flex(space-between, center);
	color: inherit;
}

.burgerWrapper {
	height: 100%;
	@include landscape {
		height: 24px;
	}
	.burgerIcon {
		position: relative;
		z-index: 12;
		@include landscape {
			height: 24px;
			svg {
				height: 24px;
			}
		}
	}
}

.navLink {
	color: inherit;
	font-size: 12px;
	font-weight: 400;
	@include media("desktopSmall") {
		font-size: 16px;
		font-weight: 500;
	}
}

.contact {
	@include flex(center, center);
	gap: 12px;
	color: inherit;
}

.elipse {
	width: 6px;
	height: 6px;
	border-radius: 50%;
}
