@import "../../shared//styles/variables";
@import "../../shared/styles/mixins";

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0px 0px 12px;
	background-color: transparent;
	transition: all 500ms ease-in-out;

	@include landscape {
		padding: 0px 0px 6px;
		width: fit-content;
	}
	@include media(tablet) {
		padding: 0px 0px 12px;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;

	gap: 4px;
	color: inherit;

	@include media(tablet) {
		gap: 12px;
	}

	@include landscape {
		gap: 0px;
	}
}

.counter {
	@include flex(start, center);
	gap: 4px;
	color: inherit;

	span {
		color: inherit;
		font-weight: 400;
		font-style: italic;
		font-size: 12px;
		line-height: 1.4em;
		@include landscape {
			font-size: 12px;
		}

		@include media(tablet) {
			font-size: 20px;
		}
	}
}

.rights {
	@include flex(flex-start, center);
	gap: 8px;
	@include media(tablet) {
		gap: 12px;
	}

	div {
		@include flex(flex-start, center);
		gap: 4px;

		@include media(tablet) {
			gap: 6px;
		}
		span {
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: inherit;
		}

		p {
			font-size: 12px;
			font-weight: 500;
			color: inherit;
			letter-spacing: 1.4px;
			@include media(tablet) {
				font-size: 16px;
			}
		}
	}

	p {
		font-weight: 300;
		font-size: 14px;
		color: inherit;
		@include media(tablet) {
			font-size: 16px;
		}
	}

	@include landscape {
		gap: 6px;

		div {
			gap: 4px;
			span {
				width: 4px;
				height: 4px;
			}

			p {
				font-size: 12px;
			}
		}
		p {
			font-size: 12px;
		}
	}
}
