@import "./shared/styles/variables";
@import "./shared/styles/mixins";

// reset and global styles

/* Specifying box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

label:hover,
input:hover,
button:hover {
	cursor: pointer;
}

textarea {
	resize: none;
}

/* Removing internal indents*/
ul,
ol {
	padding: 0;
}

/* Removing the outer margins */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Removing standard styling for all ul and il that have the class attribute */
ul,
ol {
	list-style: none;
}

/* Elements a that do not have a class,
reset to default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

a {
	text-decoration: none;
}

/* Simplify work with images */
img {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for intents and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
}

/* Applying styles to buttons */

button {
	margin: 0;
	cursor: pointer;
}

/* Removing all animations and transitions for people who prefer not to use them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Cleaning up the autocomplete styles of an input */

:-webkit-autofill {
	transition: all 5000s ease-in-out 0s;
}

// Section

section {
	padding: 70px 0;

	@include landscape() {
		padding: 40px 0;
	}
}

body {
	font-family: $fontFamilyBase;
	background-color: $secondary-text-color;
	/* Default basic settings for body*/

	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

.container {
	margin: 0 auto;
	padding: 0 16px;

	@media (min-width: 768px) {
		max-width: 1920px;
		padding: 0 80px;
	}
}

.active {
	color: $primary-text-color;
	position: relative;
}

.activeOdd {
	color: $secondary-text-color;
	position: relative;
}

.activeNav {
	position: absolute;
	bottom: -5px;
}

.anchor {
	width: 0;
	height: 0;

	position: absolute;
	top: 10;
	pointer-events: none;
}

/* Applying styles to site sections */

.hero {
	position: relative;
	color: $primary-text-color;

	background: url("./assets/hero-bg-mob.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 262px;
	background-color: $secondary-bg-color;

	@include media(desktopSmall) {
		background: no-repeat 100% 100% url("./assets/hero-bg-desc.png"),
			no-repeat 95% 0% url("./assets/hero-circle.png");
		background-color: $secondary-bg-color;
		background-size: 334px, 200px;
	}

	@include media(desktop) {
		background: no-repeat 100% 100% url("./assets/hero-bg-desc.png"),
			no-repeat 95% 0% url("./assets/hero-circle.png");
		background-color: $secondary-bg-color;
		background-size: 534px, 300px;
	}
}

.expertise {
	position: relative;
	background: $linear-expertise-bg;
}

.portfolio {
	background-color: $third-bg-color;
}

.work-process {
	@include landscape() {
		padding: 43px 0 43px 0;
	}
}

.contactUs {
	color: $primary-text-color;

	@include landscape() {
		padding: 43px 0 43px 0;
	}
}

.title {
	font-size: 21px;
	line-height: 1.2;
	font-weight: 600;
	text-transform: uppercase;

	@include media("tablet") {
		font-size: 26px;
		font-weight: 400;
	}

	@include media("desktopMiddle") {
		font-size: 40px;
	}

	@include media("desktop") {
		font-size: 60px;
	}
}

/* Styles for scrolling library classes */
.fp-table:nth-child(2) {
	position: relative;
	display: block;
}

.fp-table:nth-child(2) .container {
	margin: 0px auto;
	padding: 0px 16px;

	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 24px;

	@include landscape {
		gap: 50px;
	}

	@include media(tablet) {
		padding: 0 80px;
	}

	@include media(desktopSmall) {
		justify-content: space-around;
	}

	@include media(desktopMiddle) {
		justify-content: center;
	}

	@include media(desktop) {
		justify-content: center;
		gap: 32px;
	}
}

.fp-table:nth-child(3),
.fp-table:nth-child(4),
.fp-table:nth-child(5) {
	display: block;

	@include media(desktopSmall) {
		padding-top: 150px;
	}
}

// .fp-table:nth-child(5) {
// 	display: block;

// 	@include media(desktopSmall) {
// 		padding-top: 150px;
// 	}
// }

.fp-table:nth-child(5) .container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
}

.fp-table:nth-child(1) {
	display: block;
}

.fp-warning,
.fp-watermark {

	@include landscape() {
		left: 0;
	}
}