@import "./shared/styles/variables";
@import "./shared/styles/mixins";

// reset and global styles

/* Specifying box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

label:hover,
input:hover,
button:hover {
	cursor: pointer;
}

textarea {
	resize: none;
}

/* Removing internal indents*/
ul,
ol {
	padding: 0;
}

/* Removing the outer margins */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Removing standard styling for all ul and il that have the class attribute */
ul,
ol {
	list-style: none;
}

/* Elements a that do not have a class,
reset to default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

a {
	text-decoration: none;
}

/* Simplify work with images */
img {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for intents and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
}

/* Removing all animations and transitions for people who prefer not to use them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

// Section

section {
	padding: 150px 0 77px 0;
	height: 100vh;

	@media screen and (min-height: 300px) {
		padding: 70px 0 70px 0;
	}
}

main {
	height: 100vh;
}

/* Applying styles to buttons */

button {
	margin: 0;
	cursor: pointer;
}

body {
	// overflow: scroll;
	font-family: $fontFamilyBase;
	background-color: black;
	/* Default basic settings for body*/
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

.container {
	margin: 0 auto;
	padding: 0 16px;

	@media (min-width: 768px) {
		max-width: 1920px;
		padding: 0 80px;
	}
}

.active {
	border-bottom: 1px solid white;
}

.activeOdd {
	border-bottom: 1px solid black;
}

.anchor {
	width: 0;
	height: 0;

	position: absolute;
	top: 10;
	pointer-events: none;
}

:-webkit-autofill {
	transition: all 5000s ease-in-out 0s;
}

.hero {
	position: relative;
	color: $primary-text-color;

	background: url("./assets/hero-bg-mob.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 262px;
	background-color: $secondary-bg-color;

	@include media(desktopSmall) {
		background: no-repeat 100% 100% url("./assets/hero-bg-desc.png"),
			no-repeat 95% 0% url("./assets/hero-circle.png");
		background-color: $secondary-bg-color;
		background-size: 334px, 200px;
	}

	@include media(desktop) {
		background: no-repeat 100% 100% url("./assets/hero-bg-desc.png"),
			no-repeat 95% 0% url("./assets/hero-circle.png");
		background-color: $secondary-bg-color;
		background-size: 534px, 300px;
	}
}

.expertise {
	position: relative;
	background: linear-gradient(253.56deg, #fffaf1 4.77%, #f4e9d5 98.57%);
}

.portfolio {
	background-color: $third-bg-color;
}

.contactUs {
	color: $primary-text-color;
}