@import "../../shared//styles/variables";
@import "../../shared/styles/mixins";

.portfolio {
	background-color: $third-bg-color;

	&__title {
		margin-bottom: 32px;

		color: $secondary-text-color;

		@include media(desktopMiddle) {
			margin-bottom: 40px;
		}
	}
}